*{
    background-color: f3f4f4;
    height: 500px;
    width: 500px;
    position: absolute;

}
@media only screen and (max-width: 300px) {
    
}
.logo
{
    margin : 130px 500px;
    animation: alternate-reverse;
    
}
:hover{
    box-shadow: inset;
}

::-webkit-validation-bubble-text-block
{
    height: 20px;
     width: 100px;
}